{% load staticfiles %}
<!DOCTYPE html>
<html data-ng-app="pmApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="TopMenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PMKorkki</a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="grid">
<section class="todo" data-ng-controller="TodoController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Todos</h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="item in todos" data-ng-class="{disabled: item.done}">
                <a class="badge" href="#" data-ng-click="done($index, item.id)"><i class="fa fa-check"></i></a>
                <a class="badge" href="#" data-ng-click="delItem($index, item.id)"><i class="fa fa-times"></i></a>
                {% verbatim %}
                <strong>{{ item.title }}</strong> - {{ item.content }}
                {% endverbatim %}
            </li>
        </ul>
        <div class="panel-footer">
            <a href="#" data-ng-click="todoModal()" class="badge">+</a>
        </div>
    </div>
</section>
</div>
<script type="text/javascript">
    window['token'] = '{{ request.user.auth_token.key }}';
    window['templates'] = '{% static 'templates' %}';
    window['user'] = {{ request.user.pk }};
</script>
{% if debug %}
    <script type="text/javascript" src="{% static 'js/vendor/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/restangular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/ui-bootstrap-tpls-0.12.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/controllers.js' %}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
{% endif %}
</body>
</html>